.ecwid-productBrowser-details-rightPanel {
	float: left !important;
	padding-left: 0px !important;
	padding-right: 20px !important;
}

.ecwid-minicart {
	display: none !important;
}

.ecwid-productBrowser-head {
	display: none;
}

.gwt-Image, html#ecwid_html body#ecwid_body img.gwt-Image {
	height: 480px;
	width: 448px;
	max-width: 448px !important;
}

.ecwid-productBrowser-details-thumbnail {
	height: 480px !important;
}

.ecwid-form {
	background-color: white !important;
}

.ecwid-PaymentMethodsBlock {
	display: none;
}

.ecwid-Checkout-EmailBlock .ecwid-Checkout-blockTitle {
	display: none;
}

@media (max-width: 991px) {
	.gwt-Image, html#ecwid_html body#ecwid_body img.gwt-Image, .ecwid-productBrowser-details-thumbnail {
		max-width: none !important;
		height: auto !important;
	}

	.ecwid-productBrowser-details-thumbnail {
		max-width: none !important;
		height: auto !important;
	}
}

@media (max-width: 550px) {
	.ecwid-productBrowser-details-rightPanel {
		float: left !important;
		max-width: 450px !important;
	}

	.ecwid-productBrowser-sharePanel-header {
		width: 450px !important;
	}
	.ecwid-productBrowser-backgroundedPanel {
		float: left !important;
		clear: both !important;
		width: 200% !important;
		min-width: 0px !important;
		max-width: 450px !important;
	}

	.ecwid-productBrowser-details-leftPanel {
		float: right;
		clear: both;
		max-width: 450px !important;
	}

	.ecwid-productBrowser-details-rightPanel table {
		width: 400px !important;
	}

	.fb_iframe_widget {
		max-width: 400px !important;
	}

	.ecwid-Checkout-PaymentRightPanel, .ecwid-form {
		width: 400px !important;
	}

	label.ecwid-fieldLabel {
		width: 300px !important;
	}

	.gwt-TextBox {
		float: left !important;
	}
}

@media (max-width: 480px) {
	.ecwid-productBrowser-details-rightPanel {
		float: left !important;
		max-width: 340px !important;
	}
	.ecwid-productBrowser-backgroundedPanel {
		float: left !important;
		clear: both !important;
		width: 200% !important;
		min-width: 0px !important;
		max-width: 340px !important;
	}

	.ecwid-productBrowser-sharePanel-header {
		width: 340px !important;
	}

	.ecwid-productBrowser-details-leftPanel {
		float: right;
		clear: both;
		max-width: 340px !important;
	}

	.ecwid-productBrowser-details-rightPanel table {
		width: 340px !important;
	}

	.fb_iframe_widget {
		max-width: 340px !important;
	}

	.ecwid-Checkout-BreadCrumbs-Horizontal {
		display: none;
	}

	
	label.ecwid-fieldLabel {
		width: 340px !important;
	}
}

@media (max-width: 480px) {
	.ecwid-productBrowser-details-rightPanel {
		float: left !important;
		max-width: 275px !important;
	}

	.ecwid-productBrowser-sharePanel-header {
		width: 275px !important;
	}
	.ecwid-productBrowser-backgroundedPanel {
		float: left !important;
		clear: both !important;
		width: 200% !important;
		min-width: 0px !important;
		max-width: 275px !important;
	}

	.ecwid-productBrowser-details-leftPanel {
		float: right;
		clear: both;
		max-width: 275px !important;
	}

	.ecwid-productBrowser-details-rightPanel table {
		width: 275px !important;
	}

	.fb_iframe_widget {
		max-width: 275px !important;
	}

	.ecwid-Checkout-PaymentRightPanel, .ecwid-form {
		width: 275px !important;
	}

	label.ecwid-fieldLabel {
		width: 275px !important;
	}

	.gwt-TextBox {
		float: left !important;
	}

	.ecwid-productBrowser-details-openBagButton {
		float: left;
		margin-left: 100px;
	}
}